body {
  overflow: hidden;
  background: linear-gradient(#07279b,black,black);
  background-color: #04032c;
  height: 680px;
  font-family: 'Futura';
  color: #fff;
  text-shadow:
    0 0 5px #1c00ff,
    0 0 10px #0088ff,
    0 0 20px #00e2cf;
}

#wrapper {
  position:absolute;
 top:0;
 left:0;
 height:100%;
 width:100%;
 z-index: -1;
 background: linear-gradient(#07279b,black,black);
 background-size:8px 8px;
 background-position: 0;
 animation: bg 1s infinite linear;
 z-index: -1;
}

@keyframes bg {
  0%{
    background-position: 0 0;
  }
  100%{background-position: 8px 8px;}

}

#initial_form {
  margin: 100px auto;
  width: 40%;
}

#input {
  width: 70%;
  margin: 0px auto;
}

input {
  padding: 14px;
}

input[type=text] {
  width: 78%;
  height: 13px;
  font-size: 20px;
  border-radius: 20px;
  box-shadow: 0 0 11px rgb(0, 255, 137);
  border: 2px solid rgb(0, 220, 255);
}

input[type=text]:focus, textarea:focus {
  outline: none;
  box-shadow: 0 0 20px rgb(0, 126, 255);
  border: 2px solid rgb(0, 184, 255);
}

input[type=submit] {
  width: 12%;
  margin-left: 5px;
  border-radius: 40px;
  cursor: pointer;
  background-color: #36f3ea;
  box-shadow: 0 0 11px rgb(0, 255, 137);
  border: 2px solid rgb(0, 220, 255);
}

input[type=submit]:hover {
  background-color: #9fedff;
}

video {
  margin: 10px auto;
  display: block;
  width: 70%;
  border-radius: 27px;
}

#loader {
  display: none;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 300px;
  left: 47%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#capture {
  margin: 150px auto;
  width: 50%;
}

img {
  margin: 10px auto;
  display: block;
  width: 65%;
  box-shadow: 0 0 11px rgb(0, 255, 137);
  border: 2px solid rgb(0, 220, 255);
  opacity: 0.9;
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto;
  letter-spacing: .3em;
  background-color: #ffffff21;
  padding: 10px;
  border-radius: 13px;
  animation:
    blink-caret .75s step-end 8;
}


/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}

audio {
  display: none;
  width: 100%;
  position: absolute;
  bottom: 10px;
  left: 0;
}

#thefile {
  visibility: hidden;
}
